
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 30px;
  padding-left: 200px;
  
} 
.container{
  padding-left: 150px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.App {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  @import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";
  
  
  body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
    /*background: #fafafa;*/
    background-color: #f5f9fc;
  }
  
  
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  .sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #354052;
    color: #adb5bd;
    margin-left: -250px;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    margin-left: 0;
    transition: .5s;
  }
  
  
  .sidebar-header {
    background: #313b4c;
    color: #adb5bd;
  }
  
  .sidebar-header h3{
    color: #fff;
    padding: 1em;
  }
  
  .sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  .collapse.show, 
  .collapsing {
    background: #313b4c;
  }
  
  .nav-item {
    /*color: #ced4da;*/
    color: #adb5bd;
    font-weight: 300;
  }
  
  .nav-item.open {
    color: #e9ecef;
    background: #313b4c;
  }
  
  .nav-item.active {
    color: #e9ecef;
    background: #2d3646 !important;
  }
  
  .nav-item:hover {
    background: #313b4c;
    color: #fff;
    transition: .2s;
  }
  
  .nav-item .svg-inline--fa {
    color: inherit;
  }
  
  li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
  }
  
  .sidebar-header > button {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  
  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  .content {
    padding: 20px;
    margin-left: 0;
    height: 100vh;
  }
  
  @media only screen and (max-width: 575.98px) {
    body {
      overflow:  hidden;
    }
    
    .content.is-open {
      /*margin-left: 100%;*/
      display: none;
      transition: all 0.5s;
    }
    
    .sidebar.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
      height: 100vh !important;
    }
    
    .sidebar.is-open > .sidebar-header button {
      display: block;
    }
    
    li a.dropdown-toggle::after {
      display: inline-block;
      position: relative;
      left: 68%;
    }
    
  }